html {
	color: #fff;
	font: 400 12px/1 system-ui;
	text-rendering: geometricPrecision;
}

body {
	background-color: #000;
	background-image: url(/png/grid-1.png);
	margin: 0;
}

ui {
	position: absolute;
	margin: 24px;
	height: calc(100vh - 24px);
	width: calc(100vw - 24px);
}

hr {
	height: 1px;
	width: 100%;
	opacity: 0.5;
	border: none;
	background: url(/png/stripe.png);
	margin: 0;
	position: absolute;
	mix-blend-mode: screen;
	filter: invert(1);
}

br {
	line-height: 2;
}

button {
	-webkit-appearance: none;
	background-color: #ffffff20;
	border: none;
	height: 48px;
	width: 96px;
	font: 400 12px/1 system-ui;
	padding: 6px;
	color: #fff;
	margin: 24px;
}

p {
	padding: 12px;
	margin-block-start: 0;
	margin-block-end: 0;
}

p {
	opacity: 0;
	transition: 1s all ease-in-out;
}

p.ready {
	opacity: 1;
}

[data-template] {
	display: block;
}

[data-source] {
	display: inline-block;
}

[data-source*="title"] {
	text-transform: uppercase;
	display: block;
	-webkit-appearance: blur(6px);
	font-weight: 100;
}

[data-source*="budget"]::before {
	content: "$";
	display: inline;
}

[data-source*="duration.weeks"]::after {
	content: " weeks.";
	display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}

button {
	cursor: pointer;
}

button {
	border: 1px solid
}

button:hover {
	background-color: #ffffff80;
}

[data-source][contenteditable=true] {
	background: #ffffff20;
	text-transform: none;
}

[data-source][contenteditable=false] {}